{% extends "base.html" %}
{% from 'explorer/macros.html' import page_before %}
{% from 'explorer/macros.html' import page_after %}

{% block meta_title %}Mile blocks{% endblock %}


{% block content %}

    <h1>Mile blocks</h1>

    <div class="row" style="margin-bottom: 10px">
        <div class="col-md-2">
            {{ page_before(paginator) }}
            {{ page_after(paginator) }}
        </div>
    </div>

        <table class="table table-striped table-hover table-sm table-responsive-md">
        <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">date</th>
            <th scope="col">tx count</th>
            <th scope="col">producer</th>
        </tr>
        </thead>
        <tbody>
        {% for b in paginator.items %}
        <tr>
            <td><a href="/blocks/{{ b.id }}">{{ b.id }}</a></td>
            <td>{{ b.timestamp.strftime('%H:%M:%S %d.%m.%Y') }}</td>
            <td>{{ b.transactions_count }}</td>
            <td>
                {% if b.main_signer %}
                    <a href="/addresses/{{ b.main_signer }}">{{ b.main_signer|truncate(25) }}</a>
                {% else %}
                    &nbsp;
                {% endif %}
            </td>

        </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="row" style="margin-bottom: 10px">
        <div class="col-md-2">
            {{ page_before(paginator) }}
            {{ page_after(paginator) }}
        </div>
    </div>


{% endblock %}