{% extends "base.html" %}
{% from 'explorer/macros.html' import tx_value %}
{% from 'explorer/macros.html' import txs_table %}
{% from 'explorer/macros.html' import page_before %}
{% from 'explorer/macros.html' import page_after %}

{% block meta_title %}Mile transactions{% endblock %}


{% block content %}

    <h1>Mile transactions</h1>

    <div class="row" style="margin-bottom: 10px">
        <div class="col-md-2">
            {{ page_before(paginator) }}
            {{ page_after(paginator) }}
        </div>
    </div>

    {{ txs_table(paginator.items) }}

    <div class="row" style="margin-bottom: 10px">
        <div class="col-md-2">
            {{ page_before(paginator) }}
            {{ page_after(paginator) }}
        </div>
    </div>


{% endblock %}