{% extends "base.html" %}

{% block meta_title %}mile_tools{% endblock %}

{% block content %}
<div class="row">
<div class="col-md-4" style="margin-bottom: 20px">
    We have transactions from <a href="/blocks/0">genesis block</a>, <a href="/addresses/top/miles">top wallets by miles</a> or <a href="/addresses/top/xdr">XDR</a> and other cool tools. Stay tuned.
</div>
<div class="col-md-8">
    <h2>Official mile twitter</h2>
    <a class="twitter-timeline" data-theme="light" href="https://twitter.com/mile_global?ref_src=twsrc%5Etfw">Tweets by mile_global</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>
</div>
{% endblock %}